<style>
  #<%= dom_id(pilote) %> {
    border: 1px solid #ddd;
    margin auto,0:
    background-color: #fff;
    border-radius: 10px;
  }
  #<%= dom_id(pilote) %> p {
    line-height: 1.5;

  }
  #<%= dom_id(pilote) %> p strong:contains("Team:") {
    color: #28a745;
    font-weight: bold;
  }
</style>

<div id="<%= dom_id(pilote) %>">
  
  <p class="image">
    <img src="<%= pilote.photo %>" alt="<%= pilote.photo %>">
  </p>
  <p>
    <strong>Prenom:</strong> <%= pilote.prenom %>
  </p>
  <p>
    <strong>Nom:</strong> <%= pilote.nom %>
  </p>
  <p>
    <strong>Age:</strong> <%= pilote.age %>
  </p>
  <p>
    <strong>Team:</strong> <%= pilote.team %>
  </p>
  <p>
    <strong>First race:</strong> <%= pilote.first_race %>
  </p>
  <p>
    <strong>Title:</strong> <%= pilote.title %>
  </p>
  <p>
    <strong>Actually driver:</strong> <%= pilote.actually_driver %>
  </p>
  <p>
    <strong>Description:</strong> <%= pilote.description %>
  </p>
</div>
