<div id="<%= dom_id pilote %>">

  <p>
    <strong>Photo:</strong>
    <img src=<%= pilote.photo %>>
  </p>

  
  
  <p>
    <strong>Prenom:</strong>
    <%= pilote.prenom %>
  </p>

  <p>
    <strong>Nom:</strong>
    <%= pilote.nom %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= pilote.age %>
  </p>
  <p>
    <strong>Team:</strong>
    <%= pilote.team %>
  </p>

  <p>
    <strong>First race:</strong>
    <%= pilote.first_race %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= pilote.title %>
  </p>

  <p>
    <strong>Actually driver:</strong>
    <%= pilote.actually_driver %>
  </p>


  <p>
    <strong>Description:</strong>
    <%= pilote.description %>
  </p>

</div>
