
<div class="pilots" id="<%= dom_id(pilote) %>">
  <div class="photo">
    <p class="image">
      <img src="<%= pilote.photo %>" alt="<%= pilote.photo %>">
    </p>
  </div>
  <div class="desc">
  <p>
    <strong>Prenom:</strong> <%= pilote.prenom %>
  </p>
  <p>
    <strong>Nom:</strong> <%= pilote.nom %>
  </p>
  <p>
    <strong>Age:</strong> <%= pilote.age %>
  </p>
  <p>
    <strong>Team:</strong> <%= pilote.team %>
  </p>
  <p>
    <strong>First race:</strong> <%= pilote.first_race %>
  </p>
  <p>
    <strong>Title:</strong> <%= pilote.title %>
  </p>
  <p>
    <strong>Actually driver:</strong> <%= pilote.actually_driver %>
  </p>
  <p>
    <strong>Description:</strong> <%= pilote.description %>
  </p>
  </div>
</div>