<h1><%= @pilote.prenom %> <%= @pilote.nom %></h1>
<p style="color: green"><%= notice %></p>
<%= render @pilote %>
<div>
  <%= link_to "Edit this pilote", edit_pilote_path(@pilote), class: "custom-button" %> |
  <%= link_to "Back to pilotes", pilotes_path, class: "custom-button" %>
  <%= button_to "Destroy this pilote", @pilote, { class: "custom-button", method: :delete } %>
</div>
