<div class="profile-header">
  <h1><%= @pilote.prenom %> <%= @pilote.nom %></h1>
  <p class="success-message"><%= notice %></p>
</div>

<%= render @pilote %>

<div class="profile-actions">
  <%= link_to "Edit Profile", edit_pilote_path(@pilote), class: "btn btn-primary" %> |
  <%= link_to "Back to Pilotes", pilotes_path, class: "btn btn-secondary" %>

  <%= button_to "Destroy Profile", @pilote, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
</div>
